.results-table {
  width: 100%;
  margin: 15px 0;
  border-collapse: collapse;
  cursor: pointer;
}

.results-table th,
.results-table td {
  padding: 6px;
  text-align: left;
  border: 1px solid var(--border);
}

.results-table th {
  background-color: var(--light);
}

.results-table tbody tr:nth-child(odd) {
  background-color: var(--background);
}

.results-table tbody tr:hover {
  background-color: var(--body);
}
