.container {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    max-width: $container-width;
    height: 100%;
    margin: 0 auto;
    padding: 0 $container-offset;

    @include media-mobile {
        padding: 0 16px;
    }
}
