.game-header-wrapper {
    display: grid;
    grid-template-rows: 70px 60px 60px 35px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    width: 100%;
}

.game-levels-wrapper {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.hints-wrapper {
    display: flex;
    grid-column: 2 / 3;
    gap: 10px;
    justify-self: center;
}

.audio-icon-wrapper {
    display: flex;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;
}

.audio-img {
    width: 60px;
    cursor: pointer;
}

.translation {
    grid-column: 1 / 3;
    font-size: 2rem;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.hidden {
    display: none;
}

.game-levels-title {
    grid-column: 1 / 3;
}

.count {
    font-size: 48px;
    transform: translateY(-20px);
    opacity: 0;
    transition:
        opacity 1s ease,
        transform 1s ease;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

.level-1 {
    color: #008000;
}

.level-2 {
    color: #b9d408;
}

.level-3 {
    color: #9b7d05;
}

.level-4 {
    color: #d76a04;
}

.level-5 {
    color: #e94403;
}

.level-6 {
    color: #ef0909;
}
