.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #25413e;
    border: 1px solid #f0f8ff;
}

.footer .copyright {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    text-align: center;
}

.footer .copyright .link {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.footer .copyright .link:hover {
    transform: scale(1.1);
}

.footer .img {
    width: 80px;
}

// @media (width <= 886px) {
//     .footer .copyright {
//         flex-direction: column;
//         gap: 15px;
//     }

// }
