.car-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 3px dashed #000;
}

.car-options,
.car-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.car-controls {
  position: relative;
  margin-bottom: 10px;
}

.car-title {
  font-size: 24px;
}

.img-wrapper {
  position: relative;
  display: flex;
  width: 70px;
  height: 25px;

  svg {
    position: absolute;
    top: -13px;
  }
}

.finish-flag {
  position: absolute;
  right: 70px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  background: url("../../../assets/images/finish-flag.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.button {
  width: auto;
  padding: 5px;
  font-size: 12px;
  line-height: 110%;
  border-radius: 0;
}
