.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 100px;
    color: $light;
    background-color: $container;
    border-radius: 40px;

    &__title {
        &.accent {
            font-style: italic;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__socials {
        display: flex;
        gap: 12px;
    }

    &__contacts {
        align-self: center;

        svg {
            margin-right: 5px;
        }
    }

    @include media-big-tablet {
        grid-template-columns: 1fr;
    }

    @include media-tablet {
        padding: 100px 60px;
    }

    @include media-small-tablet {
        gap: 40px;
        padding: 62px 16px;
    }
}

.contacts {
    address {
        font-style: normal;
        line-height: 150%;

        .hovered::before {
            background-color: $light;
        }
    }

    &__title {
        margin-bottom: 38px;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}
