.header {
    @include flex-between;

    padding: 20px 0;
    font-weight: 600;
    line-height: 150%;

    a {
        position: relative;
    }

    a::before {
        position: absolute;
        bottom: -4px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $dark;
        transition: all 0.4s ease-in-out;
        content: "";
    }

    a:hover::before {
        left: 0;
        width: 100%;
    }

    &__link {
        @include flex-center;

        gap: 8px;

        img {
            align-self: flex-start;
        }

        &.menu-link {
            border: none;
            pointer-events: none;

            &:hover {
                border-bottom: none;
                cursor: auto;
            }
        }

        @include media-tablet {
            display: none;
        }
    }
}

.menu-list {
    display: flex;
    gap: 40px;

    @include media-tablet {
        display: none;
    }
}
