.winners-table {
  width: 100%;
  color: #fff;
  font-size: 2vw;
  text-align: left;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
}

thead {
  font-weight: 200;
  background-color: #25413e;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
}

tbody {
  color: #0f0e0e;
}
