.items {
    display: grid;
    grid-auto-rows: 506px;
    grid-template-columns: repeat(auto-fill, 310px);
    gap: 40px;
    justify-content: center;

    &.visible {
        max-height: none;
        overflow: visible;
    }

    // @include media-tablet {
    //     max-height: 1052px;
    //     overflow: hidden;
    // }

    // @include media-small-tablet {
    //     max-height: 2144px;
    // }
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-light;
    border-radius: 40px;
    cursor: pointer;

    // opacity: 0;
    transition: opacity 0.5s ease-in-out;

    // &:not(:nth-child(-n + 4)) {
    //     @include media-tablet {
    //         opacity: 0;
    //         transition: opacity 0.5s ease-in-out;
    //     }
    // }

    &__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 12px;
        padding: 20px;
    }

    &__photo {
        overflow: hidden;
        border-radius: 40px;
    }

    &__img {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    }

    &__descr {
        flex-grow: 1;
        line-height: 150%;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
    }

    &:hover .item__img {
        transform: scale(1);
    }

    &.visible {
        opacity: 1;
    }
}

.loader {
    align-self: center;
    width: 60px;
    height: 60px;
    margin-top: 40px;
    background: transparent;
    border: 5px solid #bbb;
    border-top-color: var(--accent);
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
