.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__dashes {
        @include flex-center;

        gap: 12px;
        margin-top: 40px;
    }

    &__dash {
        position: relative;
        width: 40px;
        height: 4px;
        background-color: $border-light;
        border-radius: 100px;

        // cursor: pointer;
        transition: all 1s ease-in-out;

        // &::after {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     width: 0;
        //     height: 4px;
        //     background-color: $border-dark;
        //     transition: all 1s ease-in-out;
        //     content: "";
        // }

        // &:hover {
        //     background-color: $border-dark;
        // }

        &.active {
            background-color: $border-dark;

            // &::after {
            //     width: 40px;
            // }
        }
    }

    &__btn {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);

        &--next {
            right: 4px;

            @include media-tablet {
                right: 0;
            }
        }

        &--prev {
            left: 4px;

            @include media-tablet {
                left: 0;
            }
        }

        @include media-small-tablet {
            display: none;
        }
    }
}

.slides-wrapper {
    width: 3456px;
    overflow: hidden;
}

.slides {
    position: relative;
    left: 0;
    display: flex;
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        max-width: 480px;
    }

    &__img {
        width: 100%;
        max-width: 480px;
        height: 480px;

        @include media-mobile {
            height: 100%;
        }
    }

    &__descr {
        line-height: 150%;
        text-align: center;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
    }

    &__btn {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);

        &--next {
            right: 4px;

            @include media-tablet {
                right: 0;
            }
        }

        &--prev {
            left: 4px;

            @include media-tablet {
                left: 0;
            }
        }

        @include media-small-tablet {
            display: none;
        }
    }

    &:first-child {
        order: 1;
    }

    &:last-child {
        order: 0;
    }

    &:nth-child(2) {
        order: 2;
    }
}

.transition-right {
    animation: move-right;
    animation-duration: 1s;
}

.transition-left {
    animation: move-left;
    animation-duration: 1s;
}

@keyframes move-right {
    from {
        left: 0;
    }

    to {
        left: 1152px;
    }
}

@keyframes move-left {
    from {
        left: 0;
    }

    to {
        left: -1152px;
    }
}
