.footer {
    display: grid;
    gap: 100px;
    margin-bottom: 20px;
    padding: 15px;
    color: $light;
    background-color: $container;
    border-radius: 40px;

    &__title {
        &.accent {
            font-style: italic;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__socials {
        display: flex;
        gap: 12px;
    }

    &__contacts {
        align-self: center;

        svg {
            margin-right: 5px;
        }
    }

    // @include media-big-tablet {
    //     grid-template-columns: 1fr;
    // }

    // @include media-tablet {
    //     padding: 100px 60px 106px;
    // }

    // @include media-small-tablet {
    //     gap: 40px;
    //     padding: 60px 16px 64px;
    // }
}
