.btn {
    @include flex-center;

    width: 155px;
    padding: 10px;
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    background-color: var(--button);
    border: 1px solid var(--border);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;

    &:disabled {
        background-color: rgba(239, 239, 239, 0.3);
        color: rgba(56, 55, 55, 0.3);
        border-color: rgba(0, 0, 0, 0.3);
        cursor: auto;
    }
}
