.background {
    background-image: url("../../../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background::before {
    position: absolute;
    z-index: -2;
    background-color: rgb(0 0 0 / 80%);
    content: "";
    inset: 0;
}
