.message-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  padding: 10px;
  color: #ebeae9;
  background-color: #25413e;
  border-radius: 20px;
  cursor: pointer;

  @media screen and (width <= 680px) {
    padding: 5px;
    line-height: normal;
  }
}

.message-header {
  display: flex;
  justify-content: space-around;

  @media screen and (width <= 680px) {
    flex-direction: column;
  }
}

.message-body {
  flex-grow: 1;
  padding: 10px;
  color: #0f0e0e;
  background-color: #ebeae9;
  border-radius: 20px;

  @media screen and (width <= 680px) {
    padding: 5px;
  }
}

.message-footer {
  display: flex;
  justify-content: space-between;

  @media screen and (width <= 680px) {
    flex-direction: column;
  }
}

.align-right {
  align-self: flex-end;
  background-color: #665f55;
}

.text {
  word-wrap: break-word;
}
