.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 2s linear;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 20px;
        max-width: 800px;
        padding: 16px;
        background-color: $body;
        border-radius: 40px;
        transform: translate(-50%, -50%);
    }

    &__photo {
        height: 340px;
        border-radius: 40px;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
    }

    &__info {
        display: flex;
        gap: 8px;

        p {
            font-size: 10px;
            line-height: 140%;
        }
    }

    &__btn-close {
        width: 100%;
        cursor: pointer;
    }

    &.hidden {
        // position: fixed;
        // width: 0%;
        // height: 0%;
        display: none;
    }
}

.item-choice {
    &__title {
        margin-bottom: 8px;
        font-weight: 400;
        line-height: 150%;
    }
    &__btns {
        display: flex;
        gap: 8px;
    }
}
