.btn {
  @include flex-center;

  width: 155px;
  padding: 10px;
  color: var(--text);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--button);
  border: 1px solid var(--border);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;

  &:disabled {
    color: rgb(56 55 55 / 30%);
    background-color: rgb(239 239 239 / 80%);
    border-color: rgb(0 0 0 / 80%);
    cursor: auto;
  }
}
