.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__btn {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);

        &--next {
            right: 4px;

            @include media-tablet {
                right: 0;
            }
        }

        &--prev {
            left: 4px;

            @include media-tablet {
                left: 0;
            }
        }

        @include media-small-tablet {
            display: none;
        }
    }
}

.slides-wrapper {
    width: 3456px;
    overflow: hidden;
}

.slides {
    position: relative;
    display: flex;
    transform: translateX(1152px);
    transition: transform 1s;
    user-select: none;
    touch-action: none;
}

.slide {
    display: flex;
    justify-content: center;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        max-width: 480px;

        @include media-mobile {
            max-width: 348px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    &__img {
        width: 100%;
        height: 480px;

        @include media-mobile {
            width: auto;
            height: 100%;
        }
    }

    &__descr {
        line-height: 150%;
        text-align: center;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
    }

    &__btn {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);

        &--next {
            right: 4px;

            @include media-tablet {
                right: 0;
            }
        }

        &--prev {
            left: 4px;

            @include media-tablet {
                left: 0;
            }
        }

        @include media-small-tablet {
            display: none;
        }
    }
}

.progress-bar {
    @include flex-center;

    gap: 12px;
    margin-top: 40px;

    &__item {
        width: 40px;
        background-color: $border-light;
        border-radius: 100px;
    }

    &__bar {
        width: 0;
        height: 4px;
        border-radius: 100px;
        transition: all 0.1s ease-in-out;

        &.active {
            background-color: $border-dark;
        }
    }
}
